
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/profile" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
            </p>
            <a class="navbar-brand">
                <Strong>Your complete art collection</Strong>
            </a>
            <p class="navbar-text pull-right">
                <a href="#/artist/{{listCtrl.artistId}}/art" class="navbar-link">
                    <span class="glyphicon glyphicon-plus">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="row padded">
    <img src="Modules/8.jpg" width="100%" class=" background-image image-responsive">
    <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
        <div class="panel panel-default" ng-repeat="art in listCtrl.arts">
            <div class="panel-heading">{{art.artName}} by {{art.artistName}}</div>
            <div class="panel-body">

                <div ng-repeat="image in art.uploadedImages">
                    <img class="img-rounded image-responsive" style="max-width: 100%; height: auto"
                         data-ng-src="data:image/jpeg;base64,{{image.imageData}}">

                    <!--<div class="carousel-caption">-->
                        <!--<h4>Slide {{$index + 1}}</h4>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="panel-footer">

                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-click="listCtrl.editArt(art)">Edit</button>
                    <button type="button" class="btn btn-default" ng-click="listCtrl.deleteArt(art)">Delete</button>
                </div>
                <div class="dropdown pull-right">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Add this art to the portfolio! :D
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li ng-click="listCtrl.addToPortfolio(portfolio, art)" ng-repeat="portfolio in listCtrl.portfolios">
                            <a href>{{portfolio.name}}</a>
                        </li>
                    </ul>
                </div>

                <!---->
                <!--<div class="btn btn-primary" ng-click="listCtrl.addToPortfolio(portfolio, art)"-->
                     <!--ng-repeat="portfolio in listCtrl.portfolios">-->
                    <!--{{portfolio.name}}-->
                <!--</div>-->

            </div>
            </div>
        </div>
    </div>
</div>
