<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/artist/{{model.artistId}}/blog/" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
            </p>
            <a class="navbar-brand" href="#/artist/{{model.artistId}}/blog/{{model.blogId}}">
                Edit Blog
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="myForm.$valid && model.updateBlog(); submitted=true" class="navbar-link">
                    <span class="glyphicon glyphicon-ok">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<hr><hr>
<div class="container">
    <img src="Modules/4.jpg" width="100%" class="background-image image-responsive">
    <div ng-show="model.error"
         class="alert alert-danger">
        {{model.error}}
    </div>

        <form id="myForm" name="myForm" role="form" ng-app>
            <div class="form-group">
                <label for="name">Name:</label>
                <input ng-class="{ 'has-error' : submitted && myForm.name.$error.required }" ng-model="model.blog.name"
                       name="name" type="text" class="form-control" id="name" placeholder="Shikha Singh" required/>
                <span ng-show="submitted && myForm.name.$error" class="help-inline">*Required Field</span>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input ng-model="model.blog.description"
                       type="textarea"
                       class="form-control"
                       id="description"
                       placeholder="Blog description">
            </div>
            <!--<label for="">Description</label>-->
            <!--<imput class="form-group" type="text" class="form-control" id="html" ng-model="model.blog.text">-->
                 <!--&lt;!&ndash;text-angular&ndash;&gt;-->
                 <!--&lt;!&ndash;ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],&ndash;&gt;-->
                <!--&lt;!&ndash;['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],&ndash;&gt;-->
                <!--&lt;!&ndash;['indent','outdent'],['html']]">&ndash;&gt;-->
            <!--</imput>-->

        </form>
        <a class="btn btn-danger btn-block" ng-click="model.deleteBlog()">Delete</a>

</div>

<!--<nav class="navbar navbar-default navbar-fixed-bottom">-->
    <!--<div class="container-fluid">-->
        <!--<div class="navbar-footer">-->
            <!--<p class="navbar-text pull-right">-->
                <!--<a href="#/user/{{model.userId}}">-->
                    <!--<span class="glyphicon glyphicon-user"></span>-->
                <!--</a>-->
            <!--</p>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->