<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/artist/{{model.artistId}}/blog" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
            </p>
            <a class="navbar-brand" href="#/artist/{{model.artistId}}/blog/new">
                New Blog
            </a>

            <p class="navbar-text pull-right">
                <a ng-click="myForm.$valid && model.createBlog(name, description); submitted=true" class="navbar-link">
                    <span class="glyphicon glyphicon-ok">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<hr>

<hr>
<div class="container-fluid">
    <img src="Modules/4.jpg" width="50%" class="background-image image-responsive">

        <form id="myForm" name="myForm" role="form" ng-app>
            <div class="form-group">
                <label for="name">Name:</label>
                <input ng-class="{ 'has-error' : submitted && myForm.name.$invalid }" ng-model="name"
                       name="name" type="text" class="form-control" id="name" placeholder="Shikha Singh" required/>
                <span ng-show="submitted && myForm.name.$invalid" class="help-inline">*Required Field</span>
            </div>


        <div class="form-group">
            <label for="desc">Blog Description:</label>
            <textarea ng-model="description" rows="4" type="desc" class="form-control" id="desc"
                      placeholder="Add Details"></textarea>
        </div>
        </form>
    </div>
    </form>
</div>

